@media screen and ( max-width: 735px) {
    #titulo-completo {
        display: none;
    }
    #titulo-abreviado {
        display: block;
    }
}
@media  screen and ( max-width: 403px) {
    .remplazable { 
        display: none;
    }
}
@media  screen and (max-width: 375px) {
    body {
        margin-right: 16px;
        font-size: 50px;
    }
    .elementos {
        font-size: 27px;
    }
    #imagen_de_mision {
        width: 200px;
    }
    div .imagen {
        width: 200px;
    }
}
@media screen and (min-width: 1026px) {
    body {
        font-size: 80px;
    }
}

@media screen and ( max-width: 361px) {
    #titulo-abreviado {display:none;
    }
    #titulo_pequeño {display: block;}
}
@media screen and ( max-width:1180px) { 
    .contenido img {
        width: 150px;
    }
}
@media screen and ( max-width:667px) { 
    #armas { 
        display: list-item;
    }
}